.cabecera__menu{
    background: #ffffff;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;

}


.menu__lista{
    list-style: none;
    ;
}


.menu__item:last-child  .menu__link{
        margin-right: 0;
    }
